.contact {
  font-size: 1.6rem;
  margin-bottom: 10rem;
  p {
    margin: 4.8rem 0;
  }
  input,
  textarea {
    font-family: inherit;
    font-size: medium;
    width: 100%;
    margin: 2.4rem 0;
    padding: 1.92rem 1.6rem;
    border: 1px solid #ccc;
    display: block;
  }

  textarea {
    height: 20rem;
  }

  .btn {
    display: block;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    margin: 0 auto;
  }
}

.location h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.location p {
  margin-bottom: 2rem;
}

.location .map {
  overflow: hidden;
  position: relative;
  height: 0;
  margin-bottom: 3rem;
  padding-bottom: 50%;
  border-radius: 0.25rem;
}

.location .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
