.details {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;

  .heading-border {
    margin: 1rem 0;
  }

  & + .details {
    flex-direction: row-reverse;
  }

  &__content {
    &--heading {
      font-size: 3.2rem;
    }

    &--text {
      font-size: 1.6rem;
      margin-bottom: 3rem;
    }
  }

  li {
    font-size: 1.6rem;

    &:not(:last-child) {
      margin-bottom: 0.9rem;
    }
    margin-bottom: 3rem;
  }

  i {
    margin-right: 1.6rem;
  }

  img {
    margin-bottom: 10rem;
    width: 100%;
    max-width: 50rem;
  }
}

.details + .details {
}
