.hero {
  background: #000 url("../images/header-background.jpg") center center/cover
    no-repeat;
  padding: 18.4rem 3.2rem 12.8rem;
  color: #fff;
  overflow-x: hidden;
  position: relative;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
  }

  &__content {
  }

  &__heading {
    font-size: 5.6rem;
    line-height: 1.2;
    font-weight: 700;
  }

  &__text {
    font-size: 1.92rem;
    margin: 1.6rem 0 2.5rem;
  }

  &__img {
    width: 100%;
    margin-right: -10rem;
  }

  &__frame-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
  }
}
