.learn {
  &__gallery {
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4rem;

    &--img {
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }

    &--title {
      margin-top: 2rem;
    }
  }
}
