.navbar {
  background-color: transparent;
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 1000;

  .navbar.navbar-scroll {
    background-color: rgba(235, 77, 85, 0.8);
    backdrop-filter: blur(10px);
  }
  &__logo {
    width: 8.1rem;
    height: 3.2rem;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    a {
      color: #fff;
    }
  }
}

.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: #fff;
  cursor: pointer;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}
