.newsletter {
  text-align: center;
  margin: 0 3.2rem;
  margin-bottom: 10rem;
  &__flex {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-color);
    border: 1px solid #eee;
    padding: 6.4rem 3.2rem !important;
    box-sizing: border-box;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 700;
    // margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.6rem;
    // margin-bottom: 2.5rem;
    max-width: 60rem;
  }

  input[type="email"] {
    padding: 1rem 2rem;
    border: 1px solid #ccc;
    border-radius: 32px;
    width: 100%;
    max-width: 400px;
    margin: 1rem 0;
  }
}
