.social {
  background: var(--dark-color);
  color: #fff;
  padding: 9.6rem 3.2rem;
  text-align: center;
  font-size: 2.1rem;
  margin-bottom: 0;

  &__icons {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 3.2rem;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: var(--primary-color);
  }

  p {
    margin-bottom: 3.2rem;
  }
}
