.stats {
  background: #000 url("../images/stats-background.jpg") center center/cover
    no-repeat;
  color: #fff;
  margin-bottom: 10rem;
  img {
    width: 100%;
    max-width: 50rem;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
  }

  &__content {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__numbers {
    display: flex;
    gap: 3.2rem;
    margin: 3.2rem 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h3 {
      font-size: 4.8rem;
      font-weight: 700;
    }

    p {
      font-size: 1.4rem;
    }
  }

  &__text {
    font-size: 1.92rem;
    margin-bottom: 3.2rem;
    text-align: center;
  }

  .btn {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 20rem;
  }
}
