.summary {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 4rem 2rem 5rem;
  &__container {
    padding: 4rem 2.5rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  }
  &__list {
    &--header {
      font-size: 1.92rem;
      color: #fff;
      background-color: var(--primary-color);
      padding: 0.3rem 0 0.3rem 1rem;
    }

    &--item {
      font-size: 1.6rem;
      font-weight: 350;
      padding: 1.92rem 0;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(153, 153, 153, 0.2);
      }
    }
  }
}
